$mainSectionBg: rgba(26, 27, 29, 1);
$mainSectionBg2: rgba(31, 33, 37, 1);
$mainSectionBgShadow: 0 0 20px 20px rgba(0, 0, 0, 0.3);
$tiffanyGreen: rgba(36, 183, 182, 1);
$lightblack: #29292b;
$gray: rgba(84, 86, 88, 1);
$yellow: rgba(254, 174, 42, 1);

.text-yellow {
  color: $yellow;
}

$tiffanyGradient_A: #00bc9b;
$tiffanyGradient_B: #5eaefd;

:export {
  gray: $gray;
  tiffanyGradient_A: $tiffanyGradient_A;
  tiffanyGradient_B: $tiffanyGradient_B;
  mainSectionBg: $mainSectionBg;
}
