@import "./components/variables";

html,
body,
#root,
.container-fluid,
.App {
  height: 100%;
}
.wrap {
  height: 100%;
  display: flex;
  @include mediaQuery(col-xs) {
    display: block;
  }
}
.sidebar-wrap {
  position: relative;
  width: 300px;
  @include mediaQuery(col-xs) {
    width: 100%;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgba(26, 27, 29, 1);
    height: 100%;
    @include mediaQuery(col-xs) {
      flex-direction: row;
      height: initial;
      padding: 20px 20px 0 20px;
    }
    .sidebar-head {
      padding: 20px;
      @include mediaQuery(col-xs) {
        display: block;
        width: 100%;
        padding: 0;
      }
      .chart {
        border-radius: 99px;
        width: 150px;
        height: 150px;
        background-color: #fff;
      }
    }
    .sidebar-body {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      .sidebar-infoCard {
        color: #fff;
        .sidebar-infoCard-status {
          text-transform: uppercase;
          colro: #fff;
          font-size: 15px;
        }
        .sidebar-infoCard-body {
          display: flex;
          align-items: baseline;
          .sidebar-infoCard-num {
            font-size: 40px;
          }
          .sidebar-infoCard-text {
            text-transform: uppercase;
            color: $gray;
            font-size:15px
          }
        }
      }
    }
  }
  .sidebar-foot {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    font-size:15px;
    @include mediaQuery(col-xs) {
      position: relative;
    }
    p {
      text-align: center;
      font-size: $fzSmall + "px";
      color: gray;
      @include mediaQuery(col-xs) {
        margin-bottom: 0;
        padding: 0 20px;
        text-align: left;
        background-color: $mainSectionBg;
      }
    }
  }
}
.main-wrap {
  width: calc(100% - 300px);
  height: 100%;
  background: $mainSectionBg2;
  padding: 3rem 5%;
  @include mediaQuery(col-xs) {
    width: 100%;
    padding: 0;
  }
  .main {
    display: flex;
    height: 100%;
    flex-direction: column;
    .main-head {
      color: #fff;
      margin-bottom: 2rem;
      @include mediaQuery(col-xs) {
        padding: 0 20px;
      }
    }
    .main-body {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      background: $mainSectionBg2;
      box-shadow: $mainSectionBgShadow;
      padding: 20px 4rem;
      border-radius: 25px;

      @include mediaQuery(col-xs) {
        padding: 20px;
        width: 100%;
        border-radius: 0;
      }
      .main-body-top {
        border-bottom: 1px solid #fff;
        padding: 12px 0;
        h3 {
          font-size: $fzBasic + px;
        }
      }
      .main-body-center {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        margin-top: 20px;
        @include mediaQuery(col-xs) {
          display: block;
        }
        .main-body-center-l {
          width: 60%;
          margin-right: 10%;
          padding: 10px 0;
          @include mediaQuery(col-xs) {
            display: block;
            width: 100%;
          }
        }
        .main-body-center-r {
          width: 40%;
          @include mediaQuery(col-xs) {
            width: 100%;
            margin: 20px 0;
            display: flex;
            justify-content: center;
          }
        }
      }
      .main-body-foot {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        margin-top: 20px;
        @include mediaQuery(col-xs) {
          display: block;
          width: 100%;
        }
        .main-body-foot-l {
          width: 60%;
          margin-right: 10%;
          @include mediaQuery(col-xs) {
            display: block;
            width: 100%;
          }
        }
        .main-body-foot-r {
          width: 40%;
          @include mediaQuery(col-xs) {
            display: block;
            width: 100%;
          }
          > .row {
            @include mediaQuery(col-xs) {
              justify-content: center;
            }
          }
        }
      }
    }
  }
}

.input-green-outlined {
  border: 2px solid rgba(47, 48, 53, 1);
  background-color: rgba(40, 41, 46, 1);
  color: $tiffanyGreen;
  padding: 10px;
  width: 80px;
  height: 80px;
  font-size: 3rem;
  text-align: center;
  border-radius: 12px;
  @include mediaQuery(col-xs) {
    display: block;
    width: 60px;
    height: 60px;
  }
}

.btn-circle-tiffanyGradient-outlined {
  min-width: 200px;
  padding: 0;
  border: double 2px transparent;
  border-radius: 80px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-color: $lightblack;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient($mainSectionBg2, $mainSectionBg2),
    radial-gradient(circle at top left, $tiffanyGradient_A, $tiffanyGradient_B);
  color: #fff;
  font-size: $fzMedium + px;
  @include mediaQuery(col-xs) {
    height: 36px;
  }
  &:hover {
    opacity: 0.8;
    color: #fff;
  }
}
.btn-circle-tiffanyGradient {
  background: linear-gradient(to left, $tiffanyGradient_A, $tiffanyGradient_B);
  color: #fff;
  border-radius: 99px;
  padding: 12px 0;
  min-width: 200px;
  outline: none;
  font-size: $fzMedium + px;
  &:hover {
    opacity: 0.8;
    color: #fff;
  }
}
.btn-rounded-tiffanyGradient {
  background: linear-gradient(to left, $tiffanyGradient_A, $tiffanyGradient_B);
  color: #fff;
  border-radius: 4px;
  padding: 8px 40px;
  outline: none;
  border: none;
  display: inline;
  font-size: $fzSmall + px;
  font-weight: bold;
  &:hover {
    opacity: 0.8;
    color: #fff;
  }
}

.bg-tiffanyGradient {
  background: linear-gradient(to left, $tiffanyGradient_A, $tiffanyGradient_B);
  color: #fff;
  border-radius: 4px;
  outline: none;
  border: none;
  display: inline;
  font-size: $fzSmall + px;
  font-weight: bold;
  &:hover {
    opacity: 0.8;
    color: #fff;
  }
}

.radio-label {
  width: 80px;
  height: 30px;
  border: double 2px transparent;
  border-radius: 80px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-color: $lightblack;
  display: flex;
  justify-content: center;
  align-items: center;
  &.active {
    color: #fff;
    background-image: linear-gradient(black, black),
      radial-gradient(
        circle at top left,
        $tiffanyGradient_A,
        $tiffanyGradient_B
      );
  }
}
