@import "../../style/components/variables";
.ring {
    stroke-width: 0.5px;
}
.path {
    stroke-width: 0.5px;
}

.circle-label {
  transform: translateY(0.25em);
}

.circle-percentage {
  font-size: 0.5em;
  line-height: 1;
  text-anchor: middle;
  transform: translateY(-0.25em);
  fill:#fff;
  font-weight: bold;

}
.circle-percentage-sign{
    font-size: 0.16em;
    line-height: 1;
    text-anchor: middle;
    transform: translateY(-0.25em);
    fill:$gray;
    font-weight: bold;
}

.circle-text {
  font-size: 0.2em;
  text-transform: uppercase;
  text-anchor: middle;
  transform: translateY(0.7em);
  fill:#fff;
}
